
.vs/VisualLog/v17/DocumentLayout.json
.vs/VisualLog/v17/.suo
.vs/VisualLog/v17/.futdcache.v2
.vs/VisualLog/FileContentIndex/fb76787a-6552-40e2-b220-039a975b3397.vsidx
.vs/VisualLog/FileContentIndex/e3c2e9c9-f1a6-4490-a162-09afe1a7f881.vsidx
.vs/VisualLog/FileContentIndex/c72148bc-d91f-4fd2-8fb5-3a8c2921ac05.vsidx
.vs/VisualLog/FileContentIndex/c3305def-bbf6-4f82-ba00-7c1b422563b4.vsidx
.vs/VisualLog/FileContentIndex/afaeb611-6f9d-4ebf-ac2e-e0014550e7fb.vsidx
.vs/VisualLog/FileContentIndex/9b36d3a5-00c4-4431-9796-f707e62fb206.vsidx
.vs/VisualLog/FileContentIndex/6252664c-60ec-426d-b581-2c9a93616333.vsidx
.vs/VisualLog/FileContentIndex/2138d929-e701-4b21-a604-7cf140fdabb8.vsidx
.vs/VisualLog/DesignTimeBuild/.dtbcache.v2
.vs/ProjectEvaluation/visuallog.strings.v8.bin
.vs/ProjectEvaluation/visuallog.projects.v8.bin
.vs/ProjectEvaluation/visuallog.metadata.v8.bin
.vs/ProjectEvaluation/visuallog.metadata.v8.bin
.vs/ProjectEvaluation/visuallog.projects.v8.bin
.vs/ProjectEvaluation/visuallog.strings.v8.bin
.vs/VisualLog/DesignTimeBuild/.dtbcache.v2
.vs/VisualLog/FileContentIndex/2138d929-e701-4b21-a604-7cf140fdabb8.vsidx
.vs/VisualLog/FileContentIndex/90dfb129-0ca6-42a6-95f3-4384d66f8405.vsidx
.vs/VisualLog/FileContentIndex/9b36d3a5-00c4-4431-9796-f707e62fb206.vsidx
.vs/VisualLog/FileContentIndex/afaeb611-6f9d-4ebf-ac2e-e0014550e7fb.vsidx
.vs/VisualLog/FileContentIndex/c72148bc-d91f-4fd2-8fb5-3a8c2921ac05.vsidx
.vs/VisualLog/v17/.futdcache.v2
.vs/VisualLog/v17/.suo
.vs/VisualLog/v17/DocumentLayout.json
